@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=IBM+Plex+Mono:wght@100;600&family=Josefin+Sans:wght@100;700&family=Lato:wght@300;400;700&family=Righteous&family=Roboto:wght@100&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=IBM+Plex+Mono:wght@100;600&family=Josefin+Sans:wght@100;700&family=Lato:wght@300;400;700&family=Montserrat:wght@100;300;400;700&family=Righteous&family=Roboto:wght@100&family=Sarala&display=swap');

*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*CONFIGURACOES GERAIS*/

:root{
    --blue-principal: #7d5cd8;
    --font-principal: font-family: 'DM Sans', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarala', sans-serif;

}



/*CENTRALIZAR*/
.container{
    max-width: 1440px;
    margin: 0 auto;
}

/*HEADER PRINCIPAL*/
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    align-items: center;
}

.cabecalho h1{
    font-size: 25px;
    font-weight: 600;
}

.cabecalho a{
    text-decoration: none;
    color: #fff;
}

.cabecalho h1 a:hover{
    color: var(--blue-principal);
}

.destaque-logo{
    color: var(--blue-principal);
    font-weight: 700;
    font-size: 2.5rem;
}

/*INICIO MENU*/
.menu-principal{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu-principal-titulo{
    display: none;
}

.menu-principal a{
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    display: inline-block;
    font-size: 12px;
}

.menu-principal a:hover{
    color: var(--blue-principal);

}

.menu-principal .destaque-menu{
    color: var(--blue-principal);
    font-weight: bold;
}
/*FIM MENU*/



/*DOBRA PRINCIPAL*/
.welcome-particles{
    position: relative;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: overlay;
    text-align: center;
    overflow: hidden;
    -webkit-clip-path: none;
    clip-path: none;
}

.welcome-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.welcome-text h5{
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
color: #9c9da1;
font-weight: 300;
}

.welcome-text h1{
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
}

.destaque-text{
    color: var(--blue-principal);
    font-weight: bold;
}

.welcome-text h6{
    font-weight: 400;
    font-size: 1rem;
    color: #9c9da1;
}

.sociais{
    margin: 40px;
}



.sociais a{
    color: #fff;
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: inline;
    text-decoration: none;
}

.sociais a:hover{
    color: var(--blue-principal);
}
/*FIM DOBRA PRINCIPAL*/

/* SECTION ABOUT */
.about{

    margin: 80px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.img-about{
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.img-about img{
    width: 100%;
}

.about-text{
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.about-text h4{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue-principal);
    line-height: 40px;
}

.about-text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #3b3a3b;
    line-height: 3rem;
}

.about-text p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #9c9b9b;
    line-height: 1.5rem;
}

/* BARRA DE PROGRESSO */

.box-skills{
    display: flex;
    flex: 0 0 50%;
    max-width: 80%;
    flex-direction: column;
}

.box-skills h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--blue-principal);
    margin: 20px;
}

.box-skills p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
    margin: 5px;
}

.skills{
    width: 100%;
    background-color: rgb(241, 240, 240);
    text-align: right;
    padding: 10px;
    color: #000;
    font-weight: 400;
    border-radius: 50px;
}

.progresso{
    border-radius: 50px;
    display: block;
}



.html{
    background-color: var(--blue-principal);
    animation: fillhtml 2s forwards infinite;
    animation-delay: 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.css{
    background-color: var(--blue-principal);
    animation: fillcss 2s forwards infinite;
    animation-delay: 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.javascript{
    background-color: var(--blue-principal);
    animation: filljavascript 2s forwards infinite;
    animation-delay: 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 90%;}
}


@keyframes fillcss{
    0%{width: 0;}
    100%{width: 60%;}
}

@keyframes filljavascript{
    0%{width: 0;}
    100%{width: 30%;}
}

/* FIM ABOUT*/


/*DIVIDER BY WAVES*/
.divisor-wave{
    position: relative;
    width: 100%;
    height: 70vh;
}

.custom-shape-divider-top-1648470833 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1648470833 svg {
    position: relative;
    display: block;
    width: calc(199% + 1.3px);
    height: 394px;
}

.custom-shape-divider-top-1648470833 .shape-fill {
    fill: #74A9E7;
}
/*FIM DIVIDER*/


/*CONTATO*/
.contato{
    width: 100vh;
    height: 30vh;
    margin: 0 auto 300px;
}

.contato h1{
    text-align: center;
    margin: 30px 0 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--blue-principal);
    font-size: 2rem;
    font-weight: bold;
}

.contato-descricao{
    margin: 5px 40px 30px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #cecece;
}

.opcoes-contato{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
}

.contato-items img{
    width: 20%;
}

.contato-items p{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #cecece;
}

.contato-items img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.8);
    margin: 20px;
    transition: 0.5s;
    transition-delay: 0.2s;
}
/*FIM CONTATO*/


.footer-principal{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin: 0 auto;
}

.footer-sociais h1{
    display: none;
}

.footer-sociais a{ 
    text-align: center;
    width: 40px;
    color: #fff;
    margin: 50px 5px;
    padding: 4px;
    text-decoration: none;
}

.footer-sociais a:hover{
    background-color: var(--blue-principal);
    border-radius: 10px;
    width: 40px;
    transition: 0.5s;
    transition-delay: 0.1s;
    transform: scale(1.5);
    margin: 20px;
}

.footer-principal h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}